div.error-box {
    width: 300px;
    border: #eeeeee 1px solid;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 20px 0;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 1px 1px #EDEDED;
    box-shadow: 1px 1px 1px 1px #EDEDED;
}
div.error-box div.in-icon i {
    font-size: 84px;
    color: #666666;
}
div.error-box div.in-code {
    font-size: 24px;
    font-weight: 600;
}


div.sq-login-box {
    width: 350px;
    margin: 0 auto;
    padding-top: calc(50vh - 153px);
}
div.sq-login-box div.img-box img {
    width: 100%;
}

div.header {
    border: 2px solid #BEBABA;
    border-radius: 5px;
    padding: 7px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.money {
    border: 2px solid #BEBABA;
    border-radius: 5px;
    padding: 7px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.text {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
div.box {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 50%;
    float: left;
}
.box-text {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-top: 84px;
    border: 2px solid #BEBABA;
    border-radius: 5px;
    padding: 7px;
}
.collection-center {
    text-align: center;
    border: 2px solid #BEBABA;
    margin-top: 10px;
}
.collection-text {
    font-size: 18px;
    font-weight: bold;
}

.reset-button {
    font-size: 17px;
    color: white;
    background-color: #c55858;
    border-radius: 7px;
    border: 2px solid #BEBABA;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    font-family: 'Poor Story', cursive;
}

.box-result {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.reset-agree-button {
    font-size: 13px;
    color: white;
    background-color: #e35858;
    border: 2px solid #e35858;
    border-radius: 7px;
    cursor: pointer;
    text-align: right;
    font-family: 'Poor Story', cursive;
    padding: 3px;
    margin-right: 5px;
}
.reset-no-button {
    font-size: 13px;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;
    cursor: pointer;
    text-align: right;
    font-family: 'Poor Story', cursive;
    padding: 3px;
}
.click-text {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: -25px;
}
.image-button {
    appearance: none;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: 0.5s;
    border-radius: 4px;
    display: inline-block;
}
