<template>
    <div style="background-color: #fff7f7">
        <div>
            <el-row :gutter="20" v-if="moneyCount != null">
                <el-col :span="12">
                    <div class="header">
                        돈 벌기
                    </div>
                    <div class="click-text">click ↓</div>
                    <div style="text-align: center; margin-top: 30px">
                        <button @click="gatheringMoney()" class="image-button">
                            <img src="/images/moneybag.png" height="250" width="250"/>
                        </button>
                    </div>
                    <div class="text">보유 금액</div>
                    <div class="money">{{ moneyCount | currency }}G</div>
                </el-col>
                <el-col :span="12">
                    <div class="header">
                        광물 뽑기
                    </div>
                    <div style="text-align: center">
                        <div class="box">
                            <div>
                                <button @click="openWoodBox()" class="image-button"><img src="/images/woodbox.png" height="250"
                                                                     width="250"/></button>
                            </div>
                            <div class="box-text">나무 상자 : 5000G</div>
                        </div>
                        <div class="box">
                            <div>
                                <button @click="openGoodBox()" class="image-button"><img src="/images/goodbox.png" height="250"
                                                                     width="250"/></button>
                            </div>
                            <div class="box-text">좋아 보이는 상자 : 15000G</div>
                        </div>
                    </div>
                </el-col>
            </el-row>
        </div>
        <div style="margin-top: 70px; margin-bottom: 30px" v-if="collectionList.length > 0">
            <div class="header">컬렉션</div>

            <el-row :gutter="20">
                <el-col :span="3" class="collection-center" v-for="(item, index) in collectionList"
                        v-bind:key="index">
                    <div v-if="item.itemCount > 0">
                        <div>
                            <img :src="'/images/' + item.imageName" :alt="item.itemName" height="80" width="80"/>
                        </div>
                        <div>
                            <el-badge :value="item.itemGradeName" class="item collection-text" :type="gradeValueType(item.itemGrade)">
                                {{ item.itemName }}&nbsp&nbsp
                            </el-badge>
                        </div>
                        <div class="collection-text">
                            보유 : {{ item.itemCount }}
                        </div>
                    </div>
                    <div v-else>
                        <div>
                            <img src="/images/unknown.png" alt="유물 정보 없음" height="80" width="80"/></div>
                        <div>
                            <el-badge :value="'???'" class="item collection-text">
                                ???&nbsp&nbsp
                            </el-badge>
                        </div>
                        <div class="collection-text">
                            ???
                        </div>
                    </div>
                </el-col>
            </el-row>
        </div>

        <el-dialog title="뽑기 결과" :visible.sync="dialogVisible" width="30%">
            <div class="box-result" v-if="resultItem != null">
                <div>
                    <div>
                        <img :src="'/images/' + resultItem.imageFileName" :alt="resultItem.itemName" height="80" width="80"/>
                    </div>
                    <div style="margin-bottom: 5px">{{ resultItem.itemGradeName }}</div>
                    <div style="margin-bottom: 5px">{{ resultItem.itemName }}</div>
                    <div v-if="resultItem.isNew">새로운 컬렉션 !</div>
                </div>
            </div>

            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="dialogVisible = false">확인</el-button>
            </span>
        </el-dialog>
        <el-popover
            placement="top"
            width="160"
            v-model="resetVisible">
            <p style="font-size: 20px">초기화 하시겠습니까?</p>
            <div style="text-align: right; margin: 0; padding: 5px">
                <button class="reset-agree-button" @click="gameReset(resetVisible = false)">예</button>
                <button class="reset-no-button" @click="resetVisible = false">취소</button>
            </div>
            <button slot="reference" class="reset-button">초기화</button>
        </el-popover>
    </div>
</template>


<script>
export default {
    data() {
        return {
            moneyCount: null,
            collectionList: [],
            dialogVisible: false,
            resultItem: null,
            resetVisible: false
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'DASH_BOARD')
    },
    methods: {
        gradeValueType(itemGrade) {
            let result = ''

            switch (itemGrade) {
                case 'COMMON':
                    result = 'info'
                    break
                case 'UNCOMMON':
                    result = 'success'
                    break
                case 'SPECIAL':
                    result = 'warning'
                    break
                case 'UNIQUE':
                    result = 'danger'
                    break
                case 'LEGENDARY':
                    result = 'primary'
                    break
                default:
                    result = ''
            }
            return result
        },
        getFirstData() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$getFirstDataConstants.GET_FIRST_DATA)
                .then((res) => {
                    this.moneyCount = res.data.data.userStatResponse.moneyCount
                    this.collectionList = res.data.data.userCollectionItems
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },

        gatheringMoney() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$gatheringMoneyConstants.GATHERING_MONEY)
                .then((res) => {
                    this.moneyCount = res.data.data.moneyCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        openWoodBox() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$openWoodBoxConstants.OPEN_WOOD_BOX)
                .then((res) => {
                    this.moneyCount = res.data.data.userStatResponse.moneyCount
                    this.resultItem = res.data.data.resultItem
                    this.collectionList = res.data.data.userCollectionItems
                    this.dialogVisible = true
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        openGoodBox() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$openGoodBoxConstants.OPEN_GOOD_BOX)
                .then((res) => {
                    this.moneyCount = res.data.data.userStatResponse.moneyCount
                    this.resultItem = res.data.data.resultItem
                    this.collectionList = res.data.data.userCollectionItems
                    this.dialogVisible = true
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        gameReset() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$gameResetConstants.GAME_RESET)
                .then((res) => {
                    this.getFirstData()
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    created() {
        this.getFirstData()
    },

}
</script>

